{% extends 'estoque/base.html' %}
{% block content %}
	<table class = "striped">
		<caption>
			<h3>{{ page_info }}</h3>
			<span class = "is-right">
				<a class = "button primary" href = "{% url 'psicologo-create' %}">Novo</a>
			</span>
		</caption>
		<thead>
			<tr>
				<th>Nome</th>
				<th>Contato</th>
				<th>Depoimento</th>
			</tr>
		</thead>
		<tbody>
			{% for obj in object_list %}
				<tr>
					<td>
						<a href = "{% url 'psicologo-update' obj.pk %}">{{ obj.nome }}</a>
					</td>
					<td>{{ obj.contato }}</td>
					<td>{{ obj.depoimento }}</td>
					<td>
						<a class = "button error" href = "{% url 'generic-delete' obj.pk 'estoque' 'Psicologo' %}? success_url = {% url 'psicologo-list' %}">Remover</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
